# PostgreSQL Database Configuration
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cross_hospital_fl

USE_SQLITE=false

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# MinIO / S3 Object Storage Configuration
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=fl-model-registry

# Security
SECRET_KEY=SUPER_SECRET_ENTERPRISE_HEALTHCARE_FL_KEY_CHANGE_IN_PROD_998877
